.footer {
    background-color: #161616;
    color: #FFFFFF;
    padding: 1rem ;
    text-align: center;
    margin-top: 32vh;
    position: relative;
}

.social-icons img {
    margin: 0 10px;
    width: 24px;
    padding-top: 2px;
}